fastapi
uvicorn
requests
chromadb
pdfplumber
sentence-transformers
langchain
langchain-community
langchain-chroma
langchain-core
python-multipart
langchain-huggingface
transformers 
torch 
pymupdf
fastembed
langchain-ollama
# pip install fastapi  
#pip install pymupdf
